<a href="https://colab.research.google.com/github/shivjain123/Articles_Kaggle_Initialization/blob/master/C_138_Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [8]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d gspmoreira/articles-sharing-reading-from-cit-deskdrop

In [ ]:
!unzip articles-sharing-reading-from-cit-deskdrop.zip

In [13]:
shared_articles = pd.read_csv('/content/shared_articles.csv')
users_interactions = pd.read_csv('/content/users_interactions.csv')

users_interactions.head()

    timestamp eventType  ...  userRegion  userCountry
0  1465413032      VIEW  ...         NaN          NaN
1  1465412560      VIEW  ...          NY           US
2  1465416190      VIEW  ...         NaN          NaN
3  1465413895    FOLLOW  ...         NaN          NaN
4  1465412290      VIEW  ...         NaN          NaN

[5 rows x 8 columns]